@using System.Globalization;
@model IEnumerable<LiveNations.Model.Models.EventModel>
@{
	ViewBag.Title = "Top tours";
}

<h2>Top tours</h2>

<div class="col-xs-12 col-md-3 form-group">
	<label class="control-label">Cyty:</label>
	@Html.DropDownList("cityselect", ViewBag.CityIdSelectList as SelectList, new { @class = "form-control", onchange = "changeOption();" })
</div>

<table class="table">
	<tr>
		<th> </th>
		<th>
			@Html.DisplayNameFor(model => model.title)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.start_time)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.IsTicketsAreOnSale)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.on_sale_at)
		</th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				<img src="@item.image_url" alt="img" width="150">
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.title)
			</td>
			<td>
				<p>@item.start_time.DayOfWeek</p>
				<p>@item.start_time.ToString("m", CultureInfo.CreateSpecificCulture("en-US"))</p>
				<p>@item.start_time.ToString("t", CultureInfo.CreateSpecificCulture("en-US"))</p>
			</td>
			<td>
				@if (item.IsTicketsAreOnSale)
				{
					<p>Yes</p>
				}
				else
				{<p>No</p>}
			</td>
			<td>
				@item.on_sale_at.ToString("f", CultureInfo.CreateSpecificCulture("en-US"))
			</td>
		</tr>
	}
</table>

@section Scripts {
	<script>
		function changeOption() {
			let select = document.getElementById("cityselect");
			let  id = select.options[select.selectedIndex].value;
			console.log(id);
			if (id < 1) {
				return false;
			}
			 
			window.location = '@Url.Action("Index", "Events")' + '?id=' + id;
		}
	</script>
}
