@using System;
@model IEnumerable<LiveNations.Model.Models.EventModel>
@{
	ViewBag.Title = "Top tours";
}

<h2>Top tours</h2>


<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.image_url)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.start_time)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.title)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.IsTicketsAreOnSale)
		</th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				<img src="@item.image_url" alt="img" width="150">
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.start_time)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.title)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.IsTicketsAreOnSale)
			</td>
		</tr>
	}
</table>
